Node_Red_Example.json
[
    {
        "id": "2c418ac500422ff1",
        "type": "tab",
        "label": "Configuration",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4018f4370f9b1b2b",
        "type": "tab",
        "label": "Display",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1af80ba0e5cd4bd5",
        "type": "tab",
        "label": "Controls",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd0db6e03dc0c02b",
        "type": "mqtt-broker",
        "name": "mqttServer",
        "broker": "192.168.1.100",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9f19b0f65d1f4988",
        "type": "ui_tab",
        "name": "Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "14f275b6d87b584b",
        "type": "ui_group",
        "name": "Config",
        "tab": "9f19b0f65d1f4988",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "010f3e64ea356359",
        "type": "ui_group",
        "name": "Guages",
        "tab": "9f19b0f65d1f4988",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6bcbbc989488cd21",
        "type": "ui_group",
        "name": "Controls",
        "tab": "9f19b0f65d1f4988",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "32efb11af940f557",
        "type": "ui_group",
        "name": "Calibrate",
        "tab": "9f19b0f65d1f4988",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dacc6ea4576e15c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b283fc2418ea3225",
        "type": "ui_spacer",
        "z": "2c418ac500422ff1",
        "name": "spacer",
        "group": "010f3e64ea356359",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "049c1deeb746a394",
        "type": "mqtt out",
        "z": "2c418ac500422ff1",
        "name": "/pi/clock/in",
        "topic": "/pi/clock/in",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bd0db6e03dc0c02b",
        "x": 970,
        "y": 680,
        "wires": []
    },
    {
        "id": "4a1308bfb865f5b6",
        "type": "ui_button",
        "z": "2c418ac500422ff1",
        "name": "Unlock",
        "group": "6bcbbc989488cd21",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Unlock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"unlock\":\"true\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 640,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "add40b6c7c656b07",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "triggerHr json",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"triggerHr\":{{payload}}}",
        "output": "json",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "281caabba76c8ed0",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "triggerMn json",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"triggerMn\":{{payload}}}",
        "output": "str",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "0401ab179de7c59d",
        "type": "ui_numeric",
        "z": "2c418ac500422ff1",
        "name": "",
        "label": "Trigger Hour",
        "tooltip": "",
        "group": "14f275b6d87b584b",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "1",
        "max": "12",
        "step": 1,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "add40b6c7c656b07"
            ]
        ]
    },
    {
        "id": "2be8f72e224355da",
        "type": "ui_numeric",
        "z": "2c418ac500422ff1",
        "name": "",
        "label": "Trigger Minute",
        "tooltip": "",
        "group": "14f275b6d87b584b",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "59",
        "step": 1,
        "x": 280,
        "y": 560,
        "wires": [
            [
                "281caabba76c8ed0"
            ]
        ]
    },
    {
        "id": "44135c0461a1f03e",
        "type": "ui_dropdown",
        "z": "2c418ac500422ff1",
        "name": "",
        "label": "Motor Style",
        "tooltip": "",
        "place": "Select option",
        "group": "14f275b6d87b584b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Interleave",
                "value": "interleave",
                "type": "str"
            },
            {
                "label": "Single",
                "value": "single",
                "type": "str"
            },
            {
                "label": "Double",
                "value": "double",
                "type": "str"
            },
            {
                "label": "Micro",
                "value": "microstep",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 680,
        "wires": [
            [
                "d676f96c77ba51da"
            ]
        ]
    },
    {
        "id": "d676f96c77ba51da",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "movementSnap",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"style\":\"{{payload}}\"}",
        "output": "str",
        "x": 460,
        "y": 680,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "e6edb1d9c55ad409",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "Minute Increments",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"movementMinuteStep\":{{payload}}}",
        "output": "str",
        "x": 470,
        "y": 720,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "2b38f78ae1d102ac",
        "type": "ui_dropdown",
        "z": "2c418ac500422ff1",
        "name": "",
        "label": "Minute Increments",
        "tooltip": "",
        "place": "Select option",
        "group": "14f275b6d87b584b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "10",
                "value": "10",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 720,
        "wires": [
            [
                "e6edb1d9c55ad409"
            ]
        ]
    },
    {
        "id": "08e5f2a6ea3f4447",
        "type": "link in",
        "z": "2c418ac500422ff1",
        "name": "",
        "links": [
            "5b6fac46a256a8fa"
        ],
        "x": 345,
        "y": 760,
        "wires": [
            [
                "0371326e236efb34"
            ]
        ]
    },
    {
        "id": "0371326e236efb34",
        "type": "change",
        "z": "2c418ac500422ff1",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "jsonTimeRemaining",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 760,
        "wires": [
            [
                "6b52558b2bbcfa0e"
            ]
        ]
    },
    {
        "id": "6b52558b2bbcfa0e",
        "type": "rbe",
        "z": "2c418ac500422ff1",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 710,
        "y": 760,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "11d55b78e27b35a9",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "CW 1 Hr",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"currentHr\":11}",
        "output": "json",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "a0be696aec53fc4c",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "CCW 0.1 Mn",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"currentMn\":0.1}",
        "output": "json",
        "x": 450,
        "y": 480,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "6ace5d7220bfc2cf",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "Mode json",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"mode\":\"{{payload}}\"}",
        "output": "str",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "0a2e57cb51edf3c0",
        "type": "ui_dropdown",
        "z": "2c418ac500422ff1",
        "name": "",
        "label": "Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "14f275b6d87b584b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "gameTimer",
                "value": "gameTimer",
                "type": "str"
            },
            {
                "label": "play",
                "value": "play",
                "type": "str"
            },
            {
                "label": "calibrate",
                "value": "calibrate",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "6ace5d7220bfc2cf"
            ]
        ]
    },
    {
        "id": "d9f56dfda0520f45",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "CCW 1 hr",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"currentHr\":1}",
        "output": "json",
        "x": 440,
        "y": 280,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "2a9ba52b9631c11e",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "CCW 1 Mn",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"currentMn\":1}",
        "output": "json",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "71ee9abb7c759293",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "CW 0.1 Mn",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"currentMn\":59.9}",
        "output": "json",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "f9713c7ee5d17d24",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "CW 1 Mn",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"currentMn\":59}",
        "output": "json",
        "x": 440,
        "y": 360,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "7ee22920d5570cab",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "CW 0.1 Hr",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"currentHr\":11.9}",
        "output": "json",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "d2747b7498a9d656",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "CCW 0.1 Hr",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"currentHr\":0.1}",
        "output": "json",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "c59760088f2ffbe4",
        "type": "ui_button",
        "z": "2c418ac500422ff1",
        "name": "CCW 0.1 Mn",
        "group": "32efb11af940f557",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CCW 0.1 Mn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"unlock\":\"false\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "a0be696aec53fc4c"
            ]
        ]
    },
    {
        "id": "1b4e83924ccc3401",
        "type": "ui_button",
        "z": "2c418ac500422ff1",
        "name": "CCW 1 Mn",
        "group": "32efb11af940f557",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CCW 1 Mn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"unlock\":\"false\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "2a9ba52b9631c11e"
            ]
        ]
    },
    {
        "id": "128939b14757177c",
        "type": "ui_button",
        "z": "2c418ac500422ff1",
        "name": "CW 0.1 Mn",
        "group": "32efb11af940f557",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CW 0.1 Mn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"unlock\":\"false\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "71ee9abb7c759293"
            ]
        ]
    },
    {
        "id": "bf2d929287a395cc",
        "type": "ui_button",
        "z": "2c418ac500422ff1",
        "name": "CW 1 Mn",
        "group": "32efb11af940f557",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CW 1 Mn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"unlock\":\"false\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "f9713c7ee5d17d24"
            ]
        ]
    },
    {
        "id": "7f3dcaa39c72e81e",
        "type": "ui_button",
        "z": "2c418ac500422ff1",
        "name": "CCW 0.1 Hr",
        "group": "32efb11af940f557",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CCW 0.1 Hr",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"unlock\":\"false\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "d2747b7498a9d656"
            ]
        ]
    },
    {
        "id": "92f3afa9c23e973b",
        "type": "ui_button",
        "z": "2c418ac500422ff1",
        "name": "CCW 1 Hr",
        "group": "32efb11af940f557",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CCW 1 Hr",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"unlock\":\"false\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "d9f56dfda0520f45"
            ]
        ]
    },
    {
        "id": "aa1edfc2b42bd828",
        "type": "ui_button",
        "z": "2c418ac500422ff1",
        "name": "CW 0.1 Hr",
        "group": "32efb11af940f557",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CW 0.1 Hr",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"unlock\":\"false\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "7ee22920d5570cab"
            ]
        ]
    },
    {
        "id": "4e44c2965e93ad8c",
        "type": "ui_button",
        "z": "2c418ac500422ff1",
        "name": "CW 1 Hr",
        "group": "32efb11af940f557",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CW 1 Hr",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"unlock\":\"false\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "11d55b78e27b35a9"
            ]
        ]
    },
    {
        "id": "33fa98bc9db4c4a9",
        "type": "link in",
        "z": "2c418ac500422ff1",
        "name": "Reset",
        "links": [
            "d7af217401050ab3"
        ],
        "x": 345,
        "y": 600,
        "wires": [
            [
                "8308d4c70cb17474"
            ]
        ]
    },
    {
        "id": "8308d4c70cb17474",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "reset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"reset\":\"true\"}",
        "output": "str",
        "x": 430,
        "y": 600,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "60ed155a719d600b",
        "type": "ui_numeric",
        "z": "2c418ac500422ff1",
        "name": "ticksFullRotation",
        "label": "ticksFullRotation",
        "tooltip": "",
        "group": "14f275b6d87b584b",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "11500",
        "max": "11800",
        "step": "5",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "8157d15ef99f375a"
            ]
        ]
    },
    {
        "id": "8157d15ef99f375a",
        "type": "template",
        "z": "2c418ac500422ff1",
        "name": "ticksFullRotation",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"ticksFullRotation\":{{payload}}}",
        "output": "str",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "049c1deeb746a394"
            ]
        ]
    },
    {
        "id": "2da3c46bc2d70681",
        "type": "mqtt in",
        "z": "4018f4370f9b1b2b",
        "name": "",
        "topic": "/pi/clock/out",
        "qos": "2",
        "datatype": "auto",
        "broker": "bd0db6e03dc0c02b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "ae963f7f2a118f6a"
            ]
        ]
    },
    {
        "id": "ae963f7f2a118f6a",
        "type": "json",
        "z": "4018f4370f9b1b2b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "4793d9d8b2c11f2a",
                "36990ce16054dc3c"
            ]
        ]
    },
    {
        "id": "4793d9d8b2c11f2a",
        "type": "function",
        "z": "4018f4370f9b1b2b",
        "name": "",
        "func": "var currentHr= {\"payload\":msg.payload.setHr.toString()};\nvar currentMn= {\"payload\":msg.payload.setMn.toString()};\nvar unlock= {\"payload\":msg.payload.unlock.toString().replace('false','Locked').replace('true','Unlocked')};\n\nreturn [currentHr,currentMn,unlock];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 240,
        "wires": [
            [
                "f2ce8d154529edd9"
            ],
            [
                "ed60a2b875affd79"
            ],
            [
                "70abb5d2087e124b",
                "0da11c205aa0e0b1"
            ]
        ]
    },
    {
        "id": "f2ce8d154529edd9",
        "type": "ui_gauge",
        "z": "4018f4370f9b1b2b",
        "name": "",
        "group": "010f3e64ea356359",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Hour",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "12",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "ed60a2b875affd79",
        "type": "ui_gauge",
        "z": "4018f4370f9b1b2b",
        "name": "",
        "group": "010f3e64ea356359",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Minute",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "7544b739fa2077ae",
        "type": "ui_toast",
        "z": "4018f4370f9b1b2b",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Status Notification",
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "70abb5d2087e124b",
        "type": "rbe",
        "z": "4018f4370f9b1b2b",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 850,
        "y": 300,
        "wires": [
            [
                "7544b739fa2077ae"
            ]
        ]
    },
    {
        "id": "0da11c205aa0e0b1",
        "type": "ui_text",
        "z": "4018f4370f9b1b2b",
        "group": "010f3e64ea356359",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "36990ce16054dc3c",
        "type": "debug",
        "z": "4018f4370f9b1b2b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "51e5752c449e143c",
        "type": "inject",
        "z": "1af80ba0e5cd4bd5",
        "name": "Loop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "78265f8dd027194a"
            ]
        ]
    },
    {
        "id": "bbb0e8257bb226c4",
        "type": "change",
        "z": "1af80ba0e5cd4bd5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "global",
                "to": "3600000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "currentTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7619f23047102d67",
        "type": "inject",
        "z": "1af80ba0e5cd4bd5",
        "name": "Setup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "bbb0e8257bb226c4"
            ]
        ]
    },
    {
        "id": "78265f8dd027194a",
        "type": "function",
        "z": "1af80ba0e5cd4bd5",
        "name": "Update time remaining",
        "func": "var currentTime = msg.payload;\nvar lastTickTime = global.get(\"lastTickTime\") || currentTime;\nvar timeRemaining = global.get(\"timeRemaining\") || 0;\nvar gameState = global.get(\"gameState\");\n\nif(gameState == \"playing\") {\n\n    timeRemaining -= (currentTime - lastTickTime);\n    if(timeRemaining < 0) {\n        timeRemaining = 0;\n    }\n    \n    global.set(\"timeRemaining\", timeRemaining);\n    \n    \n\n}\n\nmsg.timeRemaining = timeRemaining;\nglobal.set(\"lastTickTime\", currentTime);\n\nnode.status({fill:\"green\", shape:\"dot\", text:timeRemaining});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "0e80f5fcb76da586"
            ]
        ]
    },
    {
        "id": "004e1137a7e85577",
        "type": "inject",
        "z": "1af80ba0e5cd4bd5",
        "name": "Play",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "43a4bef4ea0bcd8a"
            ]
        ]
    },
    {
        "id": "6a6720fbcde0e893",
        "type": "inject",
        "z": "1af80ba0e5cd4bd5",
        "name": "Stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "154ad0d7f9c0517d"
            ]
        ]
    },
    {
        "id": "43a4bef4ea0bcd8a",
        "type": "change",
        "z": "1af80ba0e5cd4bd5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "154ad0d7f9c0517d",
        "type": "change",
        "z": "1af80ba0e5cd4bd5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "226a56d20053bc3b",
        "type": "inject",
        "z": "1af80ba0e5cd4bd5",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "d1bef49024a6ac86",
                "d7af217401050ab3"
            ]
        ]
    },
    {
        "id": "d1bef49024a6ac86",
        "type": "change",
        "z": "1af80ba0e5cd4bd5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "global",
                "to": "3600000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "ad14cae5dbb20c5a",
        "type": "ui_button",
        "z": "1af80ba0e5cd4bd5",
        "name": "",
        "group": "6bcbbc989488cd21",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "154ad0d7f9c0517d"
            ]
        ]
    },
    {
        "id": "c6a4ae8d0450f913",
        "type": "ui_button",
        "z": "1af80ba0e5cd4bd5",
        "name": "",
        "group": "6bcbbc989488cd21",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "43a4bef4ea0bcd8a"
            ]
        ]
    },
    {
        "id": "357ea34a0efed882",
        "type": "ui_button",
        "z": "1af80ba0e5cd4bd5",
        "name": "",
        "group": "6bcbbc989488cd21",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "d1bef49024a6ac86",
                "d7af217401050ab3"
            ]
        ]
    },
    {
        "id": "2523fb12e4f1093b",
        "type": "ui_text",
        "z": "1af80ba0e5cd4bd5",
        "group": "6bcbbc989488cd21",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Time Remaining",
        "label": "Time Remaining",
        "format": "{{msg.formattedTimeRemaining}}",
        "layout": "row-spread",
        "x": 1100,
        "y": 220,
        "wires": []
    },
    {
        "id": "0e80f5fcb76da586",
        "type": "function",
        "z": "1af80ba0e5cd4bd5",
        "name": "Format time as hh:mm:ss",
        "func": "var t = msg.timeRemaining / 1000;\nvar h = Math.floor(t/3600);\nvar m = Math.floor(t%3600 / 60);\nvar s = Math.floor(t%3600 % 60);\n\n// Ensure leading zeroes\nmsg.formattedTimeRemaining = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\nmsg.jsonTimeRemaining = {\"defaultHr\":(\"0\" + m).slice(-2),\"defaultMn\":(\"0\" + s).slice(-2)}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 240,
        "wires": [
            [
                "2523fb12e4f1093b",
                "5b6fac46a256a8fa"
            ]
        ]
    },
    {
        "id": "5b6fac46a256a8fa",
        "type": "link out",
        "z": "1af80ba0e5cd4bd5",
        "name": "JSON Game Time",
        "mode": "link",
        "links": [
            "08e5f2a6ea3f4447",
            "fb52132e40c163ea"
        ],
        "x": 1035,
        "y": 260,
        "wires": []
    },
    {
        "id": "d7af217401050ab3",
        "type": "link out",
        "z": "1af80ba0e5cd4bd5",
        "name": "Reset",
        "mode": "link",
        "links": [
            "33fa98bc9db4c4a9"
        ],
        "x": 535,
        "y": 460,
        "wires": []
    }
]
